@import url(https://fonts.googleapis.com/css?family=Alice);
h1 {
    text-align: center;
    color: black;
    font-family: "alice";
    font-size: 75px;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    background-color: rgb(0, 0, 0, .8);
    background-image: url("picfolder/Board_Final_Resize.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: relative;
}

break {
    flex-basis: 100%;
    width: 0px;
    height: 10px;
    overflow: hidden;
}

/* game board */

#board {
    width: 60%;
    height: 20%;
    display: block;
    margin: auto;
    margin-top:120px;
    margin-left: auto;
    margin-right: 11%;
    border: 100px;
    background-color: rgb(255, 0, 0, .0);
    display: flex;
    flex-wrap: wrap;
}

/* game cards */

#board>div {
    background-image: url("picfolder/background.jpg");
    background-size: contain;
    width: 120px;
    margin: 10px;
    border: 10px;
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5 px;
}

#WelcomeScreen {
    width: 40%;
    margin: 0 auto 0 auto;
    text-align: left;
    padding-top: 10px;
    padding-right: 30%;
    color: white;
    font-family: "Alice", Arial, Helvetica, sans-serif;
    background-image: url("AliceInWonderlandQofH.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#WelcomeContent {
    width: 60%;
    position: fixed;
    left: 0;
}

h1 {
    font-size: 80px;
}

#buttonStart {
    height: 50px;
    width: 60px;
    font-size: 20px;
    border: white;
    color: white;
    background-color: darkred;
    text-align: center;
    padding-right: 20%;
    margin: auto;
    border-radius: 10%;
    float: center;
    font-family: "Alice", Arial, Helvetica, sans-serif;
}